.Buy_Container {
    align-self: flex-start !important;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 2rem;
    width: 70%;
}

.Visiting {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.Visiting a {
    color: var(--blue);
    text-decoration: none;
}

.Visiting a:hover {
    color: var(--blue-hover);
}

.Visiting span {
    font-weight: bold;
}

.E_Mail_Row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.E_Mail {
    flex: 1;
    margin-right: 1rem;
}

.Add_Person {
    align-items: center;
    background-color: var(--blue);
    display: flex;
    flex: 0.25;
    font-size: 1.2rem;
    justify-content: center;
    padding: 0.9rem;
    transition: background-color 500ms;
    width: 150px;
}

.Add_Person:hover {
    background-color: var(--blue-hover);
}

.Customer_Row {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: "first-name last-name group remove";
    grid-template-columns: repeat(4, 0.3fr);
}

.First_Name {
    grid-area: first-name;
}

.Last_Name {
    grid-area: last-name;
}

.Group {
    grid-area: group;
}

.Remove {
    align-items: center;
    align-self: center;
    background-color: var(--red);
    display: flex;
    font-size: 1.2rem;
    grid-area: remove;
    justify-content: center;
    justify-self: flex-end;
    padding: 0.9rem;
    width: 150px;
}

.Confirm {
    align-items: center;
    background-color: var(--blue);
    display: flex;
    float: right;
    font-size: 1.2rem;
    justify-content: center;
    margin-top: 1rem;
    padding: 0.9rem;
    width: 150px;
}

@media only screen and (max-width: 1200px) {
    .Buy_Container {
        width: 90%;
    }
}

@media only screen and (max-width: 900px) {
    .Buy_Container {
        width: 100%;
    }

    .E_Mail_Row {
        align-items: flex-end;
        flex-direction: column;
        justify-content: center;
    }

    .E_Mail {
        margin: 0;
    }

    .Add_Person {
        flex: 1;
    }

    .Customer_Row {
        grid-template-areas: "first-name" "last-name" "group" "remove";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 600px) {
    .Visiting {
        font-size: 1.2rem;
    }
}