.Content {
    background-color: var(--main);
    box-sizing: border-box;
    color: var(--sub-main);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    min-height: 200px;
    padding: 2rem;
    width: 100%;
}

.Info_Card {
    background-color: var(--main);
    border-radius: 1rem;
    box-shadow: 0 0 2px var(--sub-main);
    display: grid;
    grid-template-columns: 200px 1fr;
    max-height: 200px;
    max-width: 600px;
}

.Info_Card .Info_Icon {
    align-items: center;
    background-color: var(--sub-main);
    border-radius: 1rem 0 0 1rem;
    color: var(--main);
    display: inline-flex;
    height: 200px;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.Info_Card .Info_Body {
    align-items: stretch;
    border-left: none;
    display: inline-flex;
    font-size: 1.2rem;
    line-height: 1.4;
    padding: 0.5rem 1rem;
    text-align: justify;
}

@media only screen and (max-width: 1280px) {
    .Content {
        grid-gap: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        padding: 1rem;
    }

    .Info_Card.Info_Card_Left {
        justify-self: flex-start;
    }

    .Info_Card.Info_Card_Right {
        justify-self: flex-end;
    }
}

@media only screen and (max-width: 768px) {
    .Info_Card.Info_Card_Left,
    .Info_Card.Info_Card_Right {
        justify-self: center;
    }

    .Info_Card .Info_Body {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 550px) {
    .Info_Card {
        grid-template-columns: 1fr;
        grid-template-rows: 200px 1fr;
        max-height: none;
    }

    .Info_Card .Info_Icon {
        border-radius: 1rem 1rem 0 0;
    }

    .Info_Card .Info_Body {
        border-radius: 0 0 1rem 1rem;
    }
}