.Private_Container {
    margin-top: 1rem;
    margin-bottom: auto;
    width: 100%;
}

.Logout_Container {
    box-sizing: border-box;
    margin-right: 2rem;
    margin-bottom: 1rem;
    margin-left: auto;
    padding: 0 2rem;
    text-align: right;
    width: 100%;
}

.Logout_Container h3 {
    font-size: 1.2rem;
}

.Logout_Container h3 b {
    font-weight: bold;
}