.Search_Results_Wrapper {
    display: grid;
    grid-template-areas: "header" "filters" "results";
    grid-template-columns: 1fr;
    width: 100%;
}

.Header_Wrapper {
    align-self: center;
    grid-area: header;
    justify-self: center;
    width: 100%;
}

.Results_Wrapper {
    background-color: var(--main);
    grid-area: results;
}