.Search_Container {
    align-items: center;
    background-color: var(--sub-main);
    color: var(--main);
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    width: 100%;
}

.Search_Container .Search_Title {
    align-items: center;
    color: var(--main);
    display: flex;
    font-size: 2.5rem;
    font-weight: 500;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
}

.Search_Container .Search_Title i {
    background-color: var(--main);
    border-radius: 50%;
    color: var(--sub-main);
    margin-bottom: 1rem;
    padding: 1.2rem calc(1.2rem - 6px) 1.2rem 1.2rem;
}

.Form_Group {
    align-items: center;
    display: flex;
    justify-content: center;
}

.Form_Group input[name='City'] {
    grid-area: city;
}

.Form_Group input[name='Date'] {
    grid-area: date;
}

.Search_Btn {
    background-color: var(--blue);
    font-size: 1.3rem !important;
    grid-area: search;
    justify-self: center;
    width: 100%;
}

.Search_Btn:hover {
    background-color: var(--blue-hover);
    cursor: pointer;
}

.Search_Form {
    display: grid;
    grid-template-areas: "city" "date" "search";
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.5rem;
    width: 700px;
}

.Search_Form_Inline {
    align-items: center;
    display: grid;
    grid-template-areas: "city date search";
    grid-template-columns: repeat(3, 0.33fr);
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    justify-content: center;
    width: 75%;
}

.Search_Form,
.Search_Form_Inline {
    margin: 0 auto;
}

@media only screen and (max-width: 960px) {
    .Search_Form_Inline {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        grid-template-areas: "city" "date" "search";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 0 2rem;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .Search_Container {
        min-height: 600px;
    }

    .Search_Container .Search_Title {
        font-size: 1.75rem;
    }

    .Search_Form,
    .Search_Form_Inline {
        box-sizing: border-box;
        padding: 0 2rem;
        width: 100%;
    }
}

@media only screen and (max-width: 550px) {
    .Search_Container .Search_Title {
        font-size: 1.5rem;
    }
}