.Museum_Link {
    color: var(--blue);
    font-weight: bold;
    text-decoration: none;
}

.Museum_Link:hover {
    color: var(--blue-hover);
}

.Download_Btn {
    background-color: var(--blue);
    color: var(--main);
    display: inline-block;
    padding: .5rem;
    transition: background-color 0.5s;
}

.Download_Btn:not(:last-of-type) {
    margin-right: 1rem;
}

.Download_Btn:hover {
    background-color: var(--blue-hover);
    cursor: pointer;
}

@media only screen and (min-width: 900px) {
    .Ticket_Id {
        display: none;
    }

    .Ticket_Card td>i {
        display: none;
    }
}