.Overlay_Fade_Out {
    animation: overlay-fade-out 500ms;
}

.Overlay_Fade_In {
    animation: overlay-fade-in 500ms;
    background-color: #00000077;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 10000;
}

@keyframes overlay-fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes overlay-fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}