.Container_Contact {
    align-items: center;
    background-color: var(--sub-main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem 0;
    width: 100%;
}

.Contact_Description {
    color: var(--main);
    font-size: 1.1em;
    padding: 1.5rem 0;
    width: 50%;
}

.Contact_Form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .Contact_Description,
    .Contact_Form {
        width: 90%;
    }
}