.Container_Register {
    align-items: center;
    background-color: var(--sub-main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.Register_Form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}