@import url('https://fonts.googleapis.com/css?family=Cardo|Cinzel|Montserrat');

:root {
    /*--main: #241f1c;
    --main-dark: #181210;
    --main-90: #241f1cee;
    --main-dimmed: #4f4841;
    --sub-main: #eaded8;
    --sub-dark-main: #beb2ac;
    --white: #eee;
    --green: #5db033;*/

    --main: #f5f5f5;
    --main-hover: #d4d4d4;
    --background: #ebebeb;
    --sub-main: #2c2525;
    --sub-main-hover: #3b3531;
    --yellow: #f4eed7;
    --red: crimson;
    --blue: #2c8fcc;
    --blue-hover: #256291;

    --thematic-font: 'Cardo', serif;
    --main-font: 'Montserrat', sans-serif;

    --border-radius: 0.5rem;
}

body {
    background-color: var(--background);
    font-family: var(--main-font);
    line-height: 1.4;
    position: relative;
}

/* Buttons */

.Btn {
    border: 0;
    border-radius: var(--border-radius);
    color: var(--main);
    font-weight: bold;
    height: 30px;
    padding: 5px 10px;
    text-decoration: none;
    width: 100px;
}

.Btn_Primary {
    background-color: var(--main);
}

.Btn_Lg {
    height: 50px;
    width: 200px;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
    width: 100%;
}

/** Form **/
.Form_Container {
    border-radius: var(--border-radius);
}

/** Form validation */
input.Invalid_Value {
    box-shadow: 0 0 0 2px var(--red);
}