.Blog_Card {
    background-color: var(--main);
    border-radius: var(--border-radius);
    box-shadow: 0 0 3px var(--sub-main);
    color: var(--sub-main);
    margin: 0 auto;
    width: 80%;
}

.Blog_Card .Blog_Title {
    background-color: var(--main);
    border-radius: 0.5rem 0.5rem 0 0;
    color: var(--sub-main);
    font-size: 1.5rem;
    padding: 1rem;
}

.Blog_Card .Post>*:not(figure) {
    padding: 1rem;
}

.Blog_Card .Post figure {
    background-color: var(--sub-main);
    height: 500px !important;
    width: 100% !important;
}

.Blog_Card .Post figure span {
    height: 500px !important;
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
}

.Blog_Card .Post figure img {
    height: 500px !important;
    object-fit: cover;
    width: 100% !important;
}

.Blog_Card h2 {
    font-size: 1.2rem;
}

@media only screen and (max-width: 1280px) {
    .Blog_Card {
        width: 90%;
    }
}