.Container_Blog {
    display: grid;
    grid-template-areas: "blog-list sidebar";
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.Container_Blog .Blog_Title {
    grid-area: blog-title;
}

.Container_Blog .Blog_Title h1 {
    color: var(--main);
    font-size: 1.4em;
    padding-bottom: 1rem;
}

.Container_Blog .Blog_List {
    justify-self: center;
    grid-area: blog-list;
}

.Post {
    background-color: var(--main);
    border-radius: calc(var(--border-radius) + 5px);
    color: var(--sub-main);
    display: grid;
    grid-template-areas: "image description";
    height: 300px;
    width: 800px;
}

.Post:not(:last-of-type) {
    margin-bottom: 1rem;
}

.Post a {
    display: block;
}

.Post .Post_Image {
    height: 300px;
    grid-area: image;
    position: relative;
    width: 300px;
}

.Post .Post_Image .Title {
    background-color: var(--blue);
    color: var(--main);
    font-size: 1.2em;
    margin-bottom: 0.4rem;
    padding: 0.25rem 0.5rem 0.25rem 1rem;
    position: absolute;
    top: 2rem;
    left: -0.5rem;
    text-decoration: none;
    z-index: 1;
}

.Post .Post_Image .Index_Image {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    height: inherit;
    object-fit: cover;
    width: inherit;
}

.Post .Post_Description {
    display: flex;
    grid-area: description;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.Post .Post_Description .Excerpt {
    font-size: 1.1rem;
}

.Post .Post_Description .Read_More {
    align-self: flex-end;
}

.Post .Post_Description .Date {
    align-self: flex-end;
}

.Container_Blog .Sidebar {
    grid-area: sidebar;
    justify-self: stretch;
    position: sticky;
    top: 0;
    width: 100%;
}

.Container_Blog .Sidebar {
    display: block;
    max-height: 300px;
    position: sticky;
    position: -webkit-sticky;
    top: 5.4rem;
    z-index: 9998;
}

@media only screen and (max-width: 1280px) {
    .Container_Blog {
        grid-template-areas: "blog-list" "sidebar";
    }

    .Post {
        margin: 0 auto;
        width: 90%;
    }
}

@media only screen and (max-width: 850px) {
    .Post {
        grid-template-areas: "image" "description";
        height: 600px;
    }

    .Post .Post_Image {
        display: block;
        width: 100%;
    }

    .Post .Post_Description {
        background-color: var(--main);
        border-radius: 0 0 var(--border-radius) var(--border-radius);
        box-sizing: border-box;
        height: 300px;
    }

    .Post .Post_Image .Index_Image {
        border-radius: var(--border-radius) var(--border-radius) 0 0;
    }
}

@media only screen and (max-width: 550px) {
    .Post .Post_Image {
        height: 250px;
    }

    .Post .Post_Description {
        height: 350px;
    }
}

@media only screen and (max-width: 450px) {
    .Post .Post_Description .Excerpt {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 360px) {
    .Post .Post_Image {
        height: 200px;
    }

    .Post .Post_Description {
        height: 400px;
    }
}