.museum-container {
    border-radius: var(--border-radius);
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
        "image info"
        "description description"
    ;
    grid-template-columns: 0.6fr 0.4fr;
    padding: 0 2rem;
    width: 100%;
}

.museum-image {
    align-self: stretch;
    grid-area: image;
}

.museum-image div,
.museum-image img {
    border-radius: var(--border-radius) 0 0 0;
    height: 100% !important;
}

.museum-info {
    background-color: var(--main);
    border-bottom: 2px solid var(--blue);
    border-radius: 0 var(--border-radius) 0 0;
    color: var(--sub-main);
    display: grid;
    grid-area: info;
    grid-template-areas:
        "title title"
        "table buy"
    ;
    grid-template-rows: .1fr .9fr;
    padding: 2rem;
}

.museum-title {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    grid-area: title;
    padding: 0 0.5rem 0.5rem 0.5rem;
}

.work-table {
    grid-area: table;
    text-align: left;
}

.work-table th {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.5rem;
}

.work-table td {
    padding: 0.5rem;
}

.museum-buy {
    align-self: end;
    grid-area: buy;
    justify-self: end;
    text-align: center;
}

.museum-buy * {
    margin-top: 0.5rem;
}

.museum-price {
    font-size: 1.4rem;
}

.buy-btn {
    background-color: var(--blue);
    display: block;
    font-size: 1.4rem;
    padding: 2rem !important;
    text-align: center;
    text-decoration: none;
    transition: background-color 500ms;
    width: 150px;
}

.buy-btn:hover {
    background-color: var(--blue-hover);
}

.museum-description {
    background-color: var(--main);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    color: var(--sub-main);
    grid-area: description;
    padding: 2rem;
    text-align: justify;
}

.museum-description h3 {
    border-bottom: 2px solid var(--sub-main);
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
}

@media only screen and (max-width: 1368px) {
    .museum-container {
        grid-template-columns: 0.7fr 0.3fr;
    }
    .museum-info {
        grid-template-areas: "title" "table" "buy";
        grid-template-rows: auto;
    }
}

@media only screen and (max-width: 1080px) {
    .museum-container {
        grid-template-areas: "image" "info" "description";
        grid-template-columns: 1fr;
    }

    .museum-info {
        border-radius: 0;
    }

    .museum-image img {
        border-radius: var(--border-radius) var(--border-radius) 0 0;
    }
}

@media only screen and (max-width: 768px) {
    .museum-buy {
        justify-self: center;
    }
}

@media only screen and (max-width: 450px) {
    .museum-container {
        padding: 0 1rem;
    }

    .museum-title {
        font-size: 1.4rem;
    }

    .work-table {
        font-size: 0.9rem;
    }
}