.MyTickets_Container {
    background-color: var(--main);
    color: var(--sub-main);
    padding: 1rem 1rem 1rem 2rem;
}

.MyTickets_Container h1 {
    font-size: 1.5rem;
}

.Tickets_Table {
    width: 100%;
}

.Tickets_Table thead {
    border-bottom: 2px solid var(--sub-main);
    font-weight: bold;
}

.Tickets_Table th,
.Tickets_Table td {
    padding: 1rem 0;
    text-align: left;
}

@media only screen and (max-width: 900px) {
    .MyTickets_Container {
        padding: 1rem 2rem;
    }

    .Tickets_Table thead {
        display: none;
    }

    .Tickets_Table tr {
        border-radius: var(--border-radius);
        box-shadow: 0 0 2px var(--sub-main);
        display: grid;
        grid-gap: 2rem;
        grid-template-areas:
                "ticket-id ticket-id museum museum museum"
                "type price status download download"
        ;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        margin-top: 1rem;
        padding: 1rem;
    }

    .Tickets_Table td {
        padding: 0;
    }

    .Tickets_Table tr td:nth-child(1) {
        grid-area: ticket-id;
    }

    .Tickets_Table tr td:nth-child(2) {
        grid-area: museum;
        justify-self: end;
    }

    .Tickets_Table tr td:nth-child(3) {
        align-self: center;
        grid-area: type;
    }

    .Tickets_Table tr td:nth-child(4) {
        align-self: center;
        grid-area: price;
    }

    .Tickets_Table tr td:nth-child(5) {
        align-self: center;
        grid-area: status;
    }

    .Tickets_Table tr td:nth-child(6) {
        grid-area: download;
        justify-self: end;
    }
}

@media only screen and (max-width: 660px) {
    .Tickets_Table tr {
        grid-template-areas:
                "ticket-id museum museum"
                "type price status"
                "download download download"
        ;
        grid-template-columns: repeat(3, 1fr);
    }

    .Tickets_Table tr td:nth-child(3) {
        grid-area: type;
    }

    .Tickets_Table tr td:nth-child(4) {
        grid-area: price;
        justify-self: center;
    }

    .Tickets_Table tr td:nth-child(5) {
        grid-area: status;
        justify-self: end;
    }
}

@media only screen and (max-width: 470px) {
    .Tickets_Table tr {
        grid-gap: 0.5rem;
        grid-template-areas:
                "ticket-id ticket-id ticket-id"
                "museum museum museum"
                "type price status"
                "download download download"
        ;
    }

    .Tickets_Table tr td:nth-child(1) {
        justify-self: start;
    }

    .Tickets_Table tr td:nth-child(2) {
        justify-self: start;
    }

    .Tickets_Table tr td:nth-child(3) {
        justify-self: start;
    }

    .Tickets_Table tr td:nth-child(4) {
        justify-self: start;
    }

    .Tickets_Table tr td:nth-child(5) {
        justify-self: start;
    }

    .Tickets_Table tr td:nth-child(6) {
        justify-self: end;
    }

}