footer {
    background-color: var(--sub-main);
    border-top: 2px solid var(--blue);
    color: var(--main);
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    width: 100%;
}

.Copyright {
    background-color: var(--sub-main);
    color: var(--main);
    text-align: center;
}

.FESB_Logo {
    height: auto;
    margin: 0 auto 0.5rem auto;
    width: 100px;
}

.Copyright_text {
}