.Museum_Results {
    min-height: 800px;
    width: 100%;
}

.Results_Header {
    display: grid;
    grid-row-gap: 1rem;
    grid-template-areas: "banner" "search";
    margin: 0 auto;
    padding: 1rem 0;
    width: 100%;
}

.Visit_Banner {
    align-items: center;
    color: var(--main);
    display: flex;
    font-size: 1.3rem;
    grid-area: banner;
    height: 50px;
    justify-content: center;
    justify-self: center;
    padding: 0 1rem;
    position: relative;
}

.City, .Date {
    font-weight: bold;
}

.City {
    color: var(--blue);
    margin: 0 0.3rem;
}

.Date {
    margin-left: 0.3rem;
}

.Results_Search_Form {
    background-color: var(--sub-main-hover);
    grid-area: search;
    justify-content: center;
    padding: 2rem 0;
}

.Results_Search_Form {
    margin: 0 auto;
    width: 100%;
}

.No_Results {
    color: var(--sub-main);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 2rem;
}

@media only screen and (max-width: 450px) {
    .Visit_Banner {
        font-size: 0.95rem;
    }
}