.Container {
    align-items: center;
    background-color: var(--sub-main);
    color: var(--main);
    display: flex;
    flex-direction: column;
    min-height: 800px;
    padding: 1rem 0;
    width: 100%;
}