.Museum_Card_Wrapper {
    box-sizing: border-box;
    display: block;
    margin: 1rem auto 0 auto;
    padding: 0 2rem;
    text-decoration: none;
    width: 80%;
}

.Museum_Card {
    background-color: var(--main);
    border-radius: var(--border-radius);
    box-shadow: 0 0 2px var(--sub-main);
    box-sizing: border-box;
    color: var(--sub-main);
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
        "name price"
        "location buy-button"
    ;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
}

.Museum_Card:hover {
    background-color: var(--main-hover);
}

.Museum_Card:not(:last-of-type) {
    margin-bottom: 2rem;
}

.Museum_Name {
    font-size: 1.4rem;
    font-weight: bold;
    grid-area: name;
}

.Location {
    align-self: self-end;
    font-size: 1.3rem;
    grid-area: location;
}

.Tickets_Left_Low {
    color: var(--red);
}

.Price {
    font-size: 1.4rem;
    grid-area: price;
    justify-self: self-end;
}

.Button_Buy {
    align-self: self-end;
    background-color: var(--blue);
    display: block;
    font-size: 1.4rem;
    grid-area: buy-button;
    justify-self: self-end;
    padding: 1rem !important;
    text-align: center;
    text-decoration: none;
}

.Button_Buy:hover {
    background-color: var(--blue-hover);
}

@media only screen and (max-width: 960px) {
    .Museum_Card_Wrapper {
        width: 100%;
    }
}

@media only screen and (max-width: 550px) {
    .Museum_Card {
        grid-template-areas:
            "name name"
            "location price"
            "buy-button buy-button"
        ;
    }

    .Museum_Name {
        font-size: 1.3rem;
    }

    .Location,
    .Price {
        align-self: center;
        font-size: 1.3rem;
    }
}