.Sidebar_Widget {
    background-color: var(--main);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    color: var(--sub-main);
    margin: 0 auto 1rem auto;
    padding: 1rem;
    width: 100%;
}

.Sidebar_Widget h2 {
    border-bottom: 2px solid var(--sub-main);
    font-size: 1.2em;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.Sidebar_Widget a {
    color: var(--blue);
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;
}

.Sidebar_Widget a:hover {
    color: var(--blue-hover);
}

.Sidebar_Widget a .Sidebar_Single {
    background-color: var(--main);
    padding: 1rem 1rem 0 1rem;
    transition: opacity 0.5s;
}

.Sidebar_Widget a .Sidebar_Single:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 1280px) {
    .Sidebar_Widget {
        box-sizing: padding-box;
        margin: 1rem auto 0 auto;
        width: 90%;
    }
}
