.Container_Login {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 50%;
    padding: 2rem 0;
    width: 100%;
}

.Login_Form {
    width: 100%;
}

.Login_Form_Button {
    background-color: var(--blue);
    border-radius: var(--border-radius);
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.5rem;
    padding: 1rem 0;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
    text-align: center;
    width: 100%;
}

.Login_Form_Button:hover {
    background-color: var(--blue-hover);
    cursor: pointer;
}

.Login_Form_Button_Invalid {
    background-color: var(--red);
}

.Login_Form_Button_Invalid:hover {
    background-color: var(--red);
    cursor: not-allowed;
}

.Forgot_Password {
    align-self: self-start;
    color: var(--main);
    font-size: 1.2rem;
    margin-top: 2rem;
    padding: 1rem 0;
}

.Forgot_Password:hover {
    color: var(--main-hover);
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .Container_Login {
        max-width: 75%;
    }
}

@media only screen and (max-width: 500px) {
    .Container_Login {
        max-width: 90%;
        padding: 2rem 0.5rem;
    }
}