.Menu_Slide_In {
    animation: menu-slide-in 0.5s;
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    right: 0;
    width: 60%;
    z-index: 10000;
}

.Menu_Slide_In .NavLink,
.Menu_Slide_In .NavLink_Private {
    align-items: center;
    color: inherit;
    display: flex;
    font-size: 1.2rem;
    padding: 1rem;
    text-decoration: none;
}

.Menu_Slide_In .NavLink_active,
.Menu_Slide_In .NavLink_Private_active {
    border-left: 5px solid var(--blue);
}

.Menu_Slide_In .NavLink i,
.Menu_Slide_In .NavLink_Private i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.Menu_Slide_In .Close_Menu {
    display: flex;
    flex-direction: column;
    margin: 2rem auto 0 auto;
    text-align: center;
}

.Menu_Slide_In .Close_Menu i {
    background-color: var(--blue);
    border-radius: var(--border-radius);
    color: var(--main);
    display: block;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

.Menu_Slide_Out .NavLink,
.Menu_Slide_Out .NavLink_Private,
.Menu_Slide_Out .Close_Menu {
    display: none;
}

@keyframes menu-slide-in {
    from { right: -250px; }
    to { right: 0; }
}

@media only screen and (max-width: 500px) {
    .Menu_Slide_In {
        width: 75%;
    }
}