.Header {
    position: sticky;
    top: 0;
    z-index: 9999;
}

.Nav {
    align-items: center;
    background-color: var(--main);
    color: var(--sub-main);
    display: flex;
    height: 70px;
    top: 0;
    width: 100%;
}

.Nav .Navbar_brand {
    color: var(--sub-main);
    font-family: 'Cinzel', serif;
    font-size: 1.75em;
    font-weight: 600;
    flex: 1;
    padding-left: 2rem;
    text-align: left;
    text-decoration: none;
}

.Nav .Right_Nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-right: 2em;
    text-align: right;
}

.Nav .Right_Nav .NavLink,
.Nav .Right_Nav .NavLink_Private {
    align-items: center;
    color: inherit;
    display: flex;
    font-size: 1.2rem;
    flex-direction: column;
    padding: calc(35px - 1.4rem - 0.45rem) 1rem;
    text-decoration: none;
}

.Nav .Right_Nav .NavLink i,
.Nav .Right_Nav .NavLink_Private i {
    margin-bottom: 0.4rem;
}

.Nav .Right_Nav .NavLink:hover:not(.NavLink_active),
.Nav .Right_Nav .NavLink_Private:not(.NavLink_Private_active) {
    color: var(--sub-main-hover);
    cursor: pointer;
}

.Nav .Right_Nav .NavLink:hover,
.Nav .Right_Nav .NavLink_Private:hover {
    border-bottom: 0.5rem solid var(--sub-main);
    cursor: pointer;
}

.Nav .Right_Nav .NavLink_active,
.Nav .Right_Nav .NavLink_active:hover,
.Nav .Right_Nav .NavLink_Private_active,
.Nav .Right_Nav .NavLink_Private_active:hover {
    border-bottom: 0.5rem solid var(--blue);
    font-weight: 600;
}

.Menu_Btn {
    display: none;
}

@media only screen and (max-width: 768px) {
    .Nav .Right_Nav {
        display: none;
    }

    .Menu_Btn {
        border-left: 2px solid var(--blue);
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 1.15rem 2rem;
    }

    .Menu_Btn:hover {
        cursor: pointer;
    }
}