form {
    width: 50%;
}

.Form_Group {
    max-width: inherit;
    padding: 0.5rem 0;
    position: relative;
    width: 100%;
}

.Form_Group .Label {
    color: var(--main);
    font-size: 1.2em;
    padding: 0.25rem;
}

.Form_Group input,
.Form_Group textarea,
.Form_Group select {
    align-items: center;
    background-color: var(--main);
    border: 0;
    border-radius: var(--border-radius);
    box-sizing: border-box !important;
    color: var(--sub-main);
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    justify-content: center;
    padding: 1rem;
    width: inherit;
}

.Form_Group input:active,
.Form_Group input:focus,
.Form_Group textarea:active,
.Form_Group textarea:focus,
.Form_Group select:active,
.Form_Group select:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--blue);
}

.Btn {
    border: 0;
    border-radius: var(--border-radius);
    color: var(--main);
    font-size: 1.2em;
    padding: 1rem 1.5rem;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
    text-decoration: none;
}

.Btn_Submit {
    background-color: var(--blue);
    color: var(--main);
}

.Btn_Submit:hover {
    background-color: var(--blue-hover);
    cursor: pointer;
}

::placeholder {
    color: var(--sub-main-hover);
    font-family: var(--main-font);
}

::-webkit-input-placeholder {
    color: var(--sub-main-hover);
    font-family: var(--main-font);
}

::-moz-placeholder {
    color: var(--sub-main-hover);
    font-family: var(--main-font);
}

:-moz-placeholder {
    color: var(--sub-main-hover);
    font-family: var(--main-font);
}

::-ms-input-placeholder {
    color: var(--sub-main-hover);
    font-family: var(--main-font);
}

.Pull_Right {
    align-self: flex-end;
    float: right;
}

.Pull_Left {
    align-self: flex-start;
    float: left;
}

/* Autocomplete input */
.No_Suggestions {
    background-color: var(--main);
    border-radius: 0 0 0.5rem 0.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--sub-main);
    font-size: 1.2em;
    padding: 1rem;
}

.Suggestions {
    border: 2px solid var(--blue);
    border-radius: 0 0 0.5rem 0.5rem;
    border-top-width: 0;
    box-sizing: border-box;
    list-style: none;
    margin-top: -8px;
    max-height: 143px;
    overflow-y: auto;
    position: absolute;
    left: -2px;
    width: calc(100% + 4px);
    z-index: 9999;
}

.Show_Suggestions li {
    background-color: var(--main);
    color: var(--sub-main);
    font-size: 1.2em;
    font-family: inherit;
    padding: 1rem;
}

.Suggestion_Active,
.Show_Suggestions li:hover {
    background-color: var(--main-hover);
    cursor: pointer;
    font-weight: 700;
}

.Show_Suggestions li:first-of-type {
    box-shadow: inset 0 1px 1px var(--main);
}

.Show_Suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
}

@media only screen and (max-width: 768px) {
    form {
        width: 90%;
    }
}